<!DOCTYPE html>
<html>
<head>
  <title>FaceApp</title>
  <%= vite_client_tag %> <!-- Enables hot reloading -->
  <%= vite_javascript_tag "application.jsx" %> <!-- Includes Vite entry point -->
</head>
<body>
<div id="root"></div> <!-- React will mount here -->
</body>
</html>